@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&family=Roboto:wght@300;400&family=Yanone+Kaffeesatz&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  background: url("img/cover.jpg");
  background-size: contain;
  overflow-x: hidden;
  height: 100%;
}

.rotated {
  transform: rotate(180deg);
}

.kunteynir {
  position: relative;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  margin: auto;
  background-color: #3f4749;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;       /* Non-prefixed version, currently
                  not supported by any browser */
}

.header-wrapper {
  position: relative;
}

.title-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.title {
  color: #ec7271;
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  margin: auto;
  animation: neon-1 .1s ease-in-out infinite alternate;
}

.arrow-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.arrow {
  text-decoration: none;
  margin-right: 10px;
}

.header {
  pointer-events: none;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-wrapper {
  flex-basis: 100%;
  background: linear-gradient(0deg, rgba(73,108,128,1) 0%, rgba(161,203,219,1) 46%, rgba(144,188,199,1) 100%);
  padding: 2px;
}

.navelement {
  display: flex;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 1vw 1vw;
  color: white;
  background: rgb(52,79,96);
  background: linear-gradient(0deg, rgba(52,79,96,1) 0%, rgba(52,79,96,1) 50%, rgba(184,242,253,1) 100%);
  font-size: 2.4vw;
  vertical-align: middle; 
}

.navelement:Hover {
  background: linear-gradient(#2f4e60, #b8f2fd);
  box-shadow:  inset 0 0 10px lightslategray;
  /*animation: scaling .3s ease-in .5s alternate;*/
}

.menutitle-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menutitle {
  text-decoration: underline;
}

.navtitle {
  font-size: inherit;
  margin: auto;
}

.navbar-hider {
  position: relative;
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 110px;
  background-color: aliceblue;
  width: 100%;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
  border-top: 5px solid #9AC5D3;
}

.footer-wrapper {
  display: flex;
  width: 100%
}

.copy-wrapper, .contacts-wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

.copy, .contacts {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: .9em;
}

.contacts {
  font-size: 1em;
}

.copy {
  right: 30px;
  text-align: center;
}

.copy-year {
  color: #3f4749;
}

.contacts-icon {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.4em;
  margin-right: 0px;
}

.contacts a {
  display: inline-block;
  color: dimgray;
  text-decoration: none;
  margin-top: 5px;
}

.contacts a:hover {
  color: #3f4749;
}


.main-wrapper {
  padding-bottom: 150px;
}

.main {
  width: 100%;
  background-color: aliceblue;
  margin-top: 15px;
  border-top: 5px solid #4A6D81;
  border-bottom: 5px solid #4A6D81;
}

.top-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #344F60;
  color: azure;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.top-line a {
  color: azure;
}

.top-line a:hover {
  color: #C7D3CB;
}

.log-in {
  padding: 5px;
}

.search {
  border: 1px solid black;
  padding-right: 40px;
  background: white;
  border-radius: 10px;
  position: relative;
}

.search-field {
  border: none;
  padding: 5px 2px 5px 10px;
  border-radius: 10px 0 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.search-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.search-icon-wrapper:hover {
  background-color: azure;
  cursor: pointer;
}

.search-icon {
  height: 21px;
  width: 25px;
  margin-top: 3px;
  margin-left: 7px;
  background-image: url('img/search.png');
  background-size: cover;
}

.article {
  font-family: 'Roboto', sans-serif;
  border-top: 20px solid #9AC5D3;
}

.article-header {
  display: flex;
  justify-content: space-between;
  background-color: #5A7E8C;
  color: white;
  padding: 10px 15px;
}

.article-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
}

.article-meta {
  text-align: right;
}

.article-date {
  color: #DBDBDB;
}

.article-author {
  text-decoration: underline;
  cursor: pointer;
}

.article-main {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
}

.article-img {
  margin-right: 40px;
}

.article-img img {
  max-width: 300px;
  width: 30vw;
  height: auto;
}

.article-text p {
  margin-bottom: 5px;
}

.article-readmore {
  display: inline-block;
  color: #656565;
  margin-top: 10px;
}

.article-readmore:hover {
  color: #3E3E3E;
}

.pages {
  text-align: center;
  color: #3E3E3E;
  padding: 10px 0 15px 0;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  border-top: 6px solid #9AC5D3;
}

.pages a {
  color: #656565;
  text-decoration: none;
}

.pages a:hover {
  color: #3E3E3E;
  text-decoration: underline;
}


.films-title, .crue-title, .services-title, .donat-title {
  background-color: #5A7E8C;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  padding: 10px;
  text-align: center;
  border-top: 20px solid #9AC5D3;
}

.films-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.film {
  background-color: #9AC5D3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 427px;
}

.film-title {
  font-family: 'Roboto', sans-serif;
  color: #3f4749;
  text-align: center;
  font-size: 1.6em;
  padding-top: 10px;
}

.film-description {
  font-family: 'Roboto', sans-serif;
  color: #272727;
  text-align: justify;
  padding: 10px;
  padding-top: 5px;
}


.crue-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.crue-member {
  width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #9AC5D3;
  font-family: 'Roboto', sans-serif;
}

.crue-photo {
  width: 140px;
  height: calc(140px/811*1080);
}

.crue-name {
  text-align: center;
  padding-bottom: 5px;
  font-size: 1.2em;
}

.crue-status {
  text-align: center;
  color: #3f4749;
  padding-bottom: 5px;
}

.crue-new, .donat-but {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(0deg, #CC0000, #FF0000);
  margin-bottom: 25px;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 7px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.crue-new:hover, .donat-but:hover {
  background: linear-gradient(180deg, #CC0000, #FF0000);
}


.cit-wrapper, .anec-wrapper {
  display: flex;
  flex-direction: column;
}

.cit-wrapper {
  margin-bottom: 20px;
}

.anec-wrapper {
  margin-bottom: 10px;
}

.cit-title, .anec-title {
  text-align: center;
  background-color: #344F60;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  padding: 10px 0 15px 0;
}

.cit-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  padding: 15px 0 5px 0;
}

.cit-author {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: right;
  margin-right: 30px;
  color: #3f4749;
}

.anec-text {
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  text-align: justify;
  text-indent: 20px;
}


.donat-progr {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #344F60;
  color: white;
  margin-bottom: 20px;
}

.donat-progr-title {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
}

.donat-progr-text {
  font-size: 2.4em;
}

@keyframes neon-1 {
  from {
    text-shadow: 0 0 6px rgba(239, 48, 44, 0.92), 0 0 30px rgba(239, 48, 44, 0.34), 0 0 12px rgba(239, 48, 44, 0.52), 0 0 21px rgba(239, 48, 44, 0.92), 0 0 34px rgba(239, 48, 44, 0.78), 0 0 54px rgba(239, 48, 44, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(239, 48, 44, 0.98), 0 0 30px rgba(239, 48, 44, 0.42), 0 0 12px rgba(239, 48, 44, 0.58), 0 0 22px rgba(239, 48, 44, 0.84), 0 0 38px rgba(239, 48, 44, 0.88), 0 0 60px #FFF;
  }
}

@keyframes scaling {
  from {transform: rotate(0deg);
    animation-timing-function: ease-in;}
  25% {transform: rotate(30deg);
    animation-timing-function: ease-in;}
  75% {transform: rotate(-30deg);
    animation-timing-function: ease-in;}
  to {transform: rotate(0deg);}
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 50px;
  }

  .navelement {
    font-size: 33px;
    height: 40px;
    padding: 10px 10px;
  }

  .kunteynir:before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 100%;
    left: 0;
    margin-left: -100px;
    background-image: url("img/back.png");
    background-size: contain;
  }

  .kunteynir:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100px;
    right: 0;
    top: 0;
    margin-right: -100px;
    background-size: contain;
    background-image: url("img/back.png");
  }
}

@media screen and (max-width: 930px) {
  .films-container {
    flex-direction: column;
    width: 100%
  }
  
  .film {
    flex-direction: row;
    margin-bottom: 20px;
    width: 98%;
  }
  
  .film:last-of-type {
    margin-bottom: 0;
  }
  
  .film-title {
    text-align: center;
    width: 97%;
    padding-left: 10px;
  }
  
  .film-description {
    padding: 15px 15px 5px 15px;
  }
  
  .film-player {
    width: 54vw;
    height: calc(54vw/16*9);
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    flex-wrap: nowrap;
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
    display: none;
  }
  .navelement {
    font-size: 1.5em;
  }
  .navelement:Hover {
    background-color: rgba(52,79,96,1);
    background-image: none;
  }
  .navbar-wrapper {
    padding: 0.2vw 0;
  }
  .navbar-hider {
    display: block;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    color: white;
    height: 40px;
    background: rgb(52,79,96);
    background: linear-gradient(0deg, rgba(52,79,96,1) 0%, rgba(52,79,96,1) 50%, rgba(184,242,253,1) 100%);
    font-size: 1.5em;
  }
  
  .footer {
    height: 9em;
  }
  
  .main-wrapper {
    padding-bottom: 12em;
  }
  
  .footer-wrapper {
    flex-direction: row-reverse;
  }
  
  .copy {
    font-size: 0.7em;
    text-align: right;
    right: 10px;
    bottom: 10px;
  }
  
  .contacts {
    font-size: 1em;
    left: 10px;
    top: 10%;
  }
  
  .footer-img {
    display: none;
  }

  .navelement {
    background: rgba(52,79,96,1);
    background-image: none;
  }
  
  .top-line {
    flex-direction: column;
  }
  
  .log-in {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .search-field {
    width: 97%;
  }
  
  .film {
    flex-direction: column;
    align-items: center;
    width: 97%;
    padding-top: 15px;
  }
  
  .film-player {
    width: 90vw;
    height: calc(90vw/16*9);
  }
}